@media screen and (min-width: 691px) {
  :root {
    --header1-size: 1.5rem;
    --main-hamburger-display: "none";
    --main-hamburger-visibility: "hidden";
    --hamburger-color: #f33;
    
  }
}
@media screen and (max-width: 690px) {
  :root {
    --header1-size: 1rem;
    --main-hamburger-display: "block";
    --main-hamburger-visibility: "visible";
    --hamburger-color: #a88;
  } 
}
:root {
  --must-blue: rgb(0, 85, 159);
  --must-blue-alpha-5: rgba(0, 85, 159, 0.2);
  --green: rgb(0, 219, 117);
  --green-alpha-5: rgba(0, 219, 117, 0.5);
  --green-alpha-2: rgba(0, 219, 117, 0.2);
  --dark-green: rgb(0, 59, 32);
  --bright-blue: #1f90bb;
  --bright-green-blue: #23a1d1;
  --bluewhite: #effeff;
  --greenwhite: #e3fcff;
  --white: rgb(250, 251, 255);
  --header-height: 4rem;
  --footer-height: 2rem;
  --navigator-height: 2.5rem;
  --font-montressant: "Lato", sans-serif;
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  min-height: 100%;
  background-color: var(--bluewhite);
  font-family: var(--font-montressant);
}
h1 {
  font-size: var(--header1-size);
}
h2 {
  background-color: var(--must-blue-alpha-5);
  padding: 0.1rem 1rem;
  color: var(--must-blue);
  z-index: 6;
  border-bottom: 2px dotted var(--bright-blue);
}
h3 {
  color: var(--must-blue);
  padding-bottom: 1rem;
}
footer {
  width: 100%;
  position: sticky;
}
body {
  min-height: 100%;
  background-color: var(--white);
}
main {
  position: absolute;
  margin-bottom: 5rem;
  height: 100%;
  width: 100%;
  overflow: auto;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--must-blue);
  color: var(--bluewhite);
  height: var(--footer-height);
  box-shadow: 0 0 5px 0 var(--bluegreen);
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--must-blue);
  height: var(--header-height);
  box-shadow: 0 0 5px 0 var(--bluegreen);
  position: sticky;
  top: 0;
  background-color: var(--white);
  background: linear-gradient(180deg, var(--white) 95%, var(--bright-green-blue));
}
#content {
  min-height: 100%;
  padding: 1rem;
}
#nav-items {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: stretch;
  list-style-type: none;
}
.nav-item {
  box-shadow: inset 0 0 0 0 rgba(120,120,230, 0.3);
  border-radius: 0.3rem;
  padding: 1rem;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.nav-item:hover {
  box-shadow: inset 0 0 100px 0 rgba(120,120,230, 0.1);
}
.card img {
  max-width: 150px;
  height: auto;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--must-blue-alpha-5);
  box-shadow: 0 0 4px 0 var(--must-blue-alpha-5);
  animation: fadeIn 300ms ease-in;
  width: fit-content;
  height: fit-content;
}
.card .title {
  font-size: 1.8rem;
  border-bottom: 1px dashed var(--must-blue-alpha-5);
  color: var(--must-blue);
}
.card .description {
  font-size: 1rem;
}
.card .price {
  text-align: right;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  background-color: var(--green-alpha-5);
  width: fit-content;
  color: var(--dark-green);
}
.card .buttons button {
  padding: 0.3rem;
  box-shadow: 0 0 5px 0 rgba(0, 85, 159, 0.3);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
#dashboard-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  /*background: linear-gradient(45deg, var(--bluewhite), var(--must-blue),var(--bluewhite));
*/
  background: linear-gradient(to bottom, var(--bright-blue), var(--bright-green-blue));
}

.dashboard-nav {
  position:relative;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}
.dashboard-nav .nav-link {
  padding: 0.5rem 0.2rem;
  border-radius: 0.2rem;
  /* background: linear-gradient(45deg, var(--greenwhite),rgba(244,252,255, 0.2)); */
  align-content: center;
  color: var(--bluewhite);
  font-weight: 600;
  transition: all 260ms ease-in;
}
.dashboard-nav .nav-link:hover {
  background-color: var(--white);
  color: var(--must-blue);
}
.modal {
  border-radius: 0.5rem;
  position: fixed;
  border: 3px solid var(--must-blue);
  z-index: 5;
  top: calc(var(--header-height) + var(--navigator-height) + 1rem);
  margin-left: 10vw;
  transition: all 500ms linear;
  box-shadow: 0 0 15px rgba(var(--bluewhite), 0.5);
  background-color: rgb(177, 11, 11);
  background: linear-gradient(72deg, var(--bluegreen), var(--white));
  width: 80vw;
  height: 50vh;
  visibility: visible;
  display: block;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}
.sub-nav {
  width: 100%;
  color: var(--must-blue);
  padding: 0.2rem 0.5rem;
  display: flex;
  gap: 0.4rem;
  border-bottom: 1px dashed var(--bright-blue);
}
#notification {
  border: 2px double var(--must-blue);
  padding: 0.4rem;
  z-index: 5;
  transition: all 500ms linear;
  color: var(--must-blue);
  visibility: hidden;
}

.link-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.link-button {
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0 0 2px 0 var(--bright-green-blue);
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid var(--bright-blue);
  height: 100%;
  width: 100%;
  overflow: auto;
}
#modal .modal-content {
  padding: 1rem;
}

.hamburger {
  display: var(--main-hamburger-display);
  background-color: var(--hamburger-color);
}
.form-item {
  padding: 0 0 0.2rem 0.5rem;
}
.form-item label {
  min-width: 10rem;
  display: inline-block;
}
.product-details {
  width: 85%;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 15px 0 rgba(0, 85, 159, 0.3);
  height: fit-content;
}
.product-details .title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--must-blue);
  border-bottom: 1px dashed rgba(0, 85, 159, 0.3);
}
.product-details .body {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.product-details .body .price {
  font-size: 1.4rem;
  margin: 1rem 0;
  text-align: center;
}
.product-details .body .price span {
  background-color: var(--green-alpha-5);
  padding: 1rem;
  color: var(--dark-green);
  border-radius: 50%;
  letter-spacing: 0.1rem;
}
.product-details .tags {
  font-style: italic;
  padding: 0.5rem 0rem;
}
.product-details .buttons {
  display: flex;
  justify-content: space-evenly;
}
.product-details .buttons button {
  padding: 0.3rem;
  box-shadow: 0 0 5px 0 rgba(0, 85, 159, 0.3);
}
.product-reservation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 85%;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 15px 0 rgba(0, 85, 159, 0.3);
  height: fit-content;
}
.product-reservation .product {
  font-size: 1.2rem;
  background-color: var(--green-alpha-2);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.product-reservation .help, .product-reservation .summary {
  border: 2px dotted var(--green-alpha-5);
  padding: 0.3rem;
  background-color: var(--must-blue-alpha-5);
}

table#reservations {
  width: 95%;
  box-shadow: 0 0 5px 0 var(--must-blue-alpha-5);
}
table#reservations th {
  border-bottom: 3px double var(--must-blue);
}
table#reservations td {
  text-align: center;
  padding: 0.3rem;
}
table#reservations td:hover {
  background-color: var(--green-alpha-2);
  transition: all 200ms linear;
}

.reservation-details {

}
.reservation-details ul {
  list-style: none;
}
.reservation-details input[type=checkbox] {
  font-size: 2rem;
  color: red;
  padding: 5rem;
}
.reservation-details input[type=checkbox]:checked {
  color:rgb(0, 219, 117) !important;
}